@import "font-awesome";
$colors: (
	highlight: #5d80f5,
	border: rgba(213, 213, 214, 1),
	action-buttons:#e4e4e5,
	window: #d5d5d6,
	line: #898989,
	medium:#807E7E,
	collection-background:#333,
	button-hover:#C1C1C1,
	light:#fff
);
$collection-width:300px;
$margin-top:94px;
@mixin font-setting($setting){
	-moz-font-feature-settings:$setting 1;
	-ms-font-feature-settings:$setting 1;
	-o-font-feature-settings:$setting 1;
	-webkit-font-feature-settings:$setting 1;
	font-feature-settings:$setting 1;
}
@font-face {
	font-family: "RobotoCondensed";
	src:url(./fonts/RobotoCondensed-Light.ttf);
}
@font-face {
	font-family: "RobotoCondensed";
	font-weight:bold;
	src:url(./fonts/RobotoCondensed-Regular.ttf);
}
*{
	box-sizing: border-box;
}
html{
	height:100%;
}
body{
	margin: 0;
	padding:0;
	font: normal 16px/normal "RobotoCondensed",sans-serif;
	overflow: hidden;
	height:100%;
	border:1px solid map-get($colors,window);
}
input[type=text]{
	font-family:inherit;
	font-style: inherit;
	font-size: inherit;
}
/* view bar */
.view-bar{
	position: fixed;
	top:0;
	left:0;
	height:30px;
	background:map-get($colors,action-buttons);
	border-bottom:1px solid map-get($colors,window);
	width:100%;
	z-index:200;
	padding:5px 15px 0;
	-webkit-app-region: drag;
}
%btn{
	float:right;
	margin: 0 2px;
	z-index: 200;
	cursor: pointer;
	width: 20px;
	height:20px;
	text-align: center;
	-webkit-app-region: no-drag;
	background-size:contain;
	border-radius: 4px;
	color:map-get($colors,medium);
	&:hover{
		color: map-get($colors,highlight);
	}
	svg{
		width:20px;
		height:20px;
		fill: currentColor;
	}
}
.close-button{
	@extend %btn;
}
.expand{
	@extend %btn;
}
.contract{
	@extend %btn;
}
.minimise{
	@extend %btn;
}

/* menu */
.menu{
	position: fixed;
	top:30px;
	left:300px;
	width:calc(100% - 300px);
	border:1px solid map-get($colors,window);
	border-bottom:0;
	border-top:0;
	z-index:2000;
	input[type=number],
	input[type=text]{
		width:100%;
		padding:10px;
		border-radius:4px;
		border:1px solid map-get($colors,border);
	}
}
.menu-options{
	position: relative;
	padding:8px 20px 8px;
	border-bottom:1px solid map-get($colors,line);
	background:map-get($colors,light);
	box-shadow: 0px 1px 2px map-get($colors,window);
	.fa{
		font-size: 25px;
		margin:10px;
	}
}
.font-size{
	display: inline-block;
	margin-right:20px;
	position: relative;
	top: -3px;
	input{
		position: relative;
		top: 5px;
	}
}
%custom-btn{
	display:inline-block;
	margin:-10px 0;
	position:relative;
	top:12px;
	svg{
		width:45px;
		height:45px;
		fill: currentColor;
	}
}
.preview-text{
	@extend %custom-btn;
}
.alternates-button{
	@extend %custom-btn;
	top:15px;
}
%input{
	width:350px;
	max-width:100%;
	position: absolute;
	border-radius: 4px;
	box-shadow: 2px 2px 5px map-get($colors,line);
}
.text-preview{
	@extend %input;
}
.search{
	@extend %input;
	left: 40px;
}
.alternates{
	padding:20px;
	background:map-get($colors,light);
	box-shadow: 2px 2px 5px map-get($colors,line);
	border-radius: 4px;
	position: absolute;
	left: 289px;
}
.button{
	cursor: pointer;
	display: inline-block;
	&:hover,
	&.active{
		color:map-get($colors,highlight);
	}
}


%column {
	overflow-y:auto;
	display: inline-block;
}
/* font-listing */
.font-listing{
	@extend %column;
	overflow-x:hidden;
	overflow-y:scroll;
	margin-top: $margin-top;
	height:calc(100% - #{$margin-top});
	width:calc(100% - #{($collection-width + 3px)});
}

.icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 10px 0 0;
	background-size: contain;
	position: relative;
	top: 4px;
}
.otf{
	background-image:url(../images/font_opentype.png);
}
.ttf{
	background-image: url(../images/font_truetype.png);
}
.loading{
	font-size: 28px;
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	color:map-get($colors,highlight);
	padding-left: $collection-width;
}


@for $i from 1 through 7{
	.ss0#{""+$i}{
		@include font-setting("ss0"+$i);
	}
}

.salt{
	@include font-setting("salt");
}
.hist{
	@include font-setting("hist");
}
.swsh{
	@include font-setting("swsh");
}

.font{
	padding: 20px;
	border-bottom:1px solid map-get($colors,line);
	position: relative;
	background:map-get($colors,light);
	&.hide{
		display: none;
	}
	&.pinned{
		position:absolute;
		top: $margin-top + 1px;
		z-index:1;
		width:calc(100% - #{($collection-width + 22px)});
		box-shadow: 0px 1px 2px map-get($colors,window);
	}
}
.font-feature,
.font-name {
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: bold;
	color:map-get($colors,medium);
}
.font-feature{
	margin-top:20px;
	margin-bottom:20px;
}
.options-right{
	position: absolute;
	right:15px;
	top:15px;
	.fa{
		cursor:pointer;
		margin-left: 10px;
		&:hover{
			color:map-get($colors,highlight);
		}
	}
	.fa-heart{
		color:map-get($colors,highlight);
	}
}
.small{
	font-size: 12px;
}
/* collections */
.collections{
	@extend %column;
	margin-top:29px;
	height:calc(100% - 29px);
	width:$collection-width;
	background:map-get($colors,collection-background);
	color:map-get($colors,light);
	margin-left:-1px;
	box-shadow: 3px 1px 2px map-get($colors,window);
	input[type=text]{
		background:none;
		border:none;
		font-size: inherit;
		color:inherit;
	}
}
.remove-collection{
	opacity:0.5;
	float: right;
	margin-top: 3px;
	&:hover{
		opacity:1;
	}
}
.collection {
	padding: 20px 18px;
	border-bottom: 1px solid #444;
	height:62px;
	position: relative;
	cursor: pointer;
	&.input{
		cursor: initial;
	}
	&.active{
		&:before{
			content:"";
			display: block;
			width:4px;
			height:100%;
			background:map-get($colors,highlight);
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.pin{
	transform:rotate(45deg);
	color:map-get($colors,highlight);
}
