<div class="view-bar">
	<div class="close-button" (click)="setViewMode('close')"><import url="images/close.svg"></import></div>
	<div class="expand" *ngIf="viewMode!='max'" (click)="setViewMode('max')"><import url="images/maximise.svg"></import></div>
	<div class="contract" *ngIf="viewMode=='max'" (click)="setViewMode('unmax')"><import url="images/restore.svg"></import></div>
	<div class="minimise" (click)="setViewMode('min')"><import url="images/minimise.svg"></import></div>
</div>
<div class="menu">
	<div class="menu-options">
		<div class="button" (click)="toggleMenuButton('preview')" [class.active]="activeMenu=='preview'"><div class="preview-text"><import url="images/previewText.svg"></import></div></div>
		<i class="fa fa-text-height"></i>
		<div class="font-size">
			<input type="range" min="10" max="150" [(ngModel)]="fontSize" (mouseup)="updateFontSizeStyles()"> {{fontSize}}px
		</div>
		<div class="button" (click)="toggleMenuButton('alternates')" [class.active]="activeMenu=='alternates'"><div class="alternates-button"><import url="images/alternative.svg"></import></div></div>
		<div class="button" (click)="toggleMenuButton('search')" [class.active]="activeMenu=='search'"><i class="fa fa-search"></i></div>
		<div class="search" *ngIf="activeMenu=='search'">
			<input-debounce delay="500" (value)="searchUpdate($event)" placeholder="Search" inputValue="{{search}}"></input-debounce>
		</div>
		<div class="text-preview" *ngIf="activeMenu=='preview'">
			<input-debounce delay="500" (value)="previewUpdate($event)" placeholder="Preview text" inputValue="{{previewText}}"></input-debounce>
		</div>
		<div class="alternates" *ngIf="activeMenu=='alternates'">
			<div *ngFor="#feature of openType">
				<input type="checkbox" [(ngModel)]="checkOpenType[feature.className]">{{feature.name}}
			</div>
		</div>
	</div>
</div>
<div class="collections">
	<div class="collection" [class.active]="collection=='all'" (click)="changeCollection('all')">All fonts</div>
	<div class="collection" [class.active]="collection=='fav'" (click)="changeCollection('fav')">Favourites</div>
	<div class="collection" *ngFor="#col of customCollections" [class.active]="collection==col" (click)="changeCollection(col)" (drop)="onDrop($event,col)" (dragover)="onDragOver($event)">{{col}} <i class="fa fa-times-circle remove-collection" (click)="removeCollection(col)"></i></div>
	<div class="collection input"><input type="text" placeholder="New collection" [(ngModel)]="newCollection" (blur)="addCollection()"></div>
</div>
<div class="font-listing" (scroll)="onScroll($event)" [style.paddingTop]="marginTop+'px'">
	<div class="font" *ngFor="#font of filteredFonts" draggable="true" (dragstart)="onDragStart(font)" [ngClass]="{'hide':font.hide,'pinned':pinned&&pinned?.className==font.className}">
		<div class="options-right">
			<i class="fa fa-times-circle" *ngIf="collection!='all'&&collection!='fav'" (click)="removeFontInCollection(font)"></i>
			<div class="fa fa-thumb-tack" [class.pin]="pinned&&pinned?.className==font.className" (click)="pinFont(font)"></div>
			<i class="fa" [ngClass]="{'fa-heart':font.favourite,'fa-heart-o':!font.favourite}" (click)="updateFavourite(font)"></i>
		</div>
		<div class="font-name"><span class="icon {{font.type}}"></span>{{font.postscriptName}} <span class="small">({{font.path}})</span>
		</div>
		<div class="template {{font.className}}">
			<div class="preview">{{previewText}}</div>
			<div class="capitals">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
			<div class="lowercase">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
		</div>
		<div *ngFor="#feature of openType">
			<div *ngIf="font.type=='otf'&&checkOpenType[feature.className]">
				<div class="font-feature">{{feature.name}}</div>
				<div class="template {{font.className}} {{feature.className}}">
					<div class="preview">{{previewText}}</div>
					<div class="capitals">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
					<div class="lowercase">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div [innerHTML]="stylesheet" *ngIf="stylesheet"></div>
<div class="loading" *ngIf="!filteredFonts||showSpinner">
	<div class="fa fa-spinner fa-spin"></div>
</div>
<div [innerHTML]="fontSizeStyles"></div>